<div class="wrapper">
  <!-- Navbar -->
  <app-starter-nav-bar></app-starter-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-starter-main-side-bar></app-starter-main-side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper mt-5">
    <!-- <app-content></app-content> -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <alert></alert>
          <router-outlet></router-outlet>

          <div class="card card-widget">
            <div class="card-header">
              <h2>Votes overview</h2>
            </div>

            <div class="card-footer card-comments">
              <div *ngIf="spinnerService.loading">
                <div class="text-center mt-3">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <p>Loading...</p>
                </div>
              </div>

              <div *ngIf="!spinnerService.loading && tableModel$ | async as tableData" class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th *ngFor="let head of headElements; let i = index" scope="col">
                        {{head}}
                        <!-- <mdb-icon fas icon="sort"></mdb-icon> -->
                      </th>

                      <!-- <th scope="col">OrderId</th>
                      <th scope="col">Website</th>
                      <th scope="col">DidVoteThisSession</th>
                      <th scope="col">Success</th>
                      <th scope="col">ShouldHaveSuccess</th>
                      <th scope="col">UsedCaptchas</th> -->
                      <!-- <th scope="col">VotedThisSession</th>
                      <th scope="col">ShouldHaveVotedThisSession</th>
                      <th scope="col">maxThreads</th>
                      <th scope="col">stopAtVotes</th>
                      <th scope="col">votingDelay</th>
                      <th scope="col">proxyTimeout</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tableModel of tableData">
                      <!-- <th scope="row"></th> -->
                      <td>{{ tableModel.rowId }}</td>
                      <td>{{ tableModel.rowWebsite }}</td>
                      <td>{{ tableModel.once ? "true" : "false" }}</td>
                      <td>{{ tableModel.success }}</td>
                      <td>{{ tableModel.shouldHaveSuccess }}</td>
                      <td>{{ tableModel.captcha }}</td>
                      <!-- <td>{{ tableModel.votedThisSession }}</td>
                      <td>{{ tableModel.shouldHaveSuccess }}</td>
                      <td>{{ tableModel.maxThreads }}</td>
                      <td>{{ tableModel.stopAtVotes }}</td>
                      <td>{{ tableModel.votingDelay }}</td>
                      <td>{{ tableModel.proxyTimeout }}</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <app-starter-control-side-bar></app-starter-control-side-bar>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <app-starter-footer></app-starter-footer>
</div>
